:root{
  --font: "Futura Pt";
  --font-weight: 400;
  --font-size: 20px;
  --text-color: #111111;
  --text-gradient-first: (90.01deg, #111111 -8.85%, #B1B1B1 116.12%);
  --text-gradient-main: (90.01deg, #111111 -8.85%, #B1B1B1 58.84%, #696969 91.39%, #B1B1B1 116.12%);
  --bg-color: #f6f6f6;
  --accent-green: #30AB4C;
  --accent-red: #AD4844;
  --circle-color: #D9D9D9;

  --product-bg-color: #BEBEBE;
  --product-text-color: #000000;

  --button-text-color: #F6F6F6;
  --white: #FFFF;

  --header-shadow: 0px 4px 4px 0px #00000040;


}


//Mixin for responsive desighn
@mixin bg-1700(){
  @media (min-width: 1441px) and (max-width: 1700px){
    @content;
  }
}

@mixin display(){
  @media (min-width: 1281px) and (max-width: 1440px) {
    @content
  }
}

@mixin laptop(){
  @media (min-width: 1025px) and (max-width: 1280px) {
    @content
  }
}

@mixin tablets(){
  @media (min-width: 768px) and (max-width: 1024px) {
    @content
  }
}

@mixin mobile(){
  @media (min-width: 481px) and (max-width: 767px) {
    @content
  }
}

@mixin mobile-xs(){
  @media (max-width: 480px) {
    @content
  }
}

@mixin max-1440px(){
  @media (max-width: 1439px) {
    @content
  }
}
@mixin max-1280px(){
  @media (max-width: 1280px) {
    @content
  }

}

@mixin height720-800(){
  @media (min-height: 720px) and (max-height: 800px){
    @content
  }
}
@mixin height801-900(){
  @media (min-height: 801px) and (max-height: 900px){
    @content
  }
}
@mixin height901-1000(){
  @media (min-height: 901px) and (max-height: 1000px){
    @content
  }
}